target/
bin/

# Ignore IntelliJ files.
.idea/
*.iml
*.ipr
*.iws

# MacOS folder files
.DS_Store

# Ignore Maven wrapper jar
.mvn/wrapper/maven-wrapper.jar

# Ignore dependency-reduced-pom.xml
gcs/depedency-reduced-pom.xml